* {
	box-sizing: border-box;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image:
		url("../images/tapasestebanbackgroundblurreddark.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.banner {
	position: fixed;
	top: 0;
	height: 200px;
	z-index: 10000;
}

.logoname {
	position: relative;
	float: left;
	margin: 0px 250px;
}

.banner #logo {
	position: relative;
	float: left;
	height: 200px;
	width: 200px;
}

.banner .namepart {
	height: 200px;
	width: 400px;
}

.banner #nametapas {
	float: left;
	height: 100%;
	width: 40%;
}

.banner #nameesteban {
	float: left;
	height: 100%;
	width: 40%;
}

/* @media ( min-width : 1600px) {
	
	.banner .namepart {
		height:250px;
		width:500px;
	}
}

@media ( max-width : 1599px) {
	
	.banner .namepart {
		height:125px;
		width:250px;
	}
} */
.navigation {
	top: 200px;
	position: fixed;
	float: left;
	height: 100%;
	width: 200px;
	background-color: #72666a;
	font-color: white;
	z-index: 1000;
}

.main {
	position: relative;
	top: 200px;
	width: 800px;
	left: 200px;
	background-repeat: none;
	font-family: Papyrus;
	padding: 10px;
}

.content {
	margin: auto;
	height: 100%;
	max-width: 1000px;
}

.textbox {
	color: white;
}

.socialmedia{
	position: fixed;
    bottom: 0;
    display:inline-block;
    float:left;
	}
	
.twitter-follow-button{
	data-show-screen-name:false;
	}
}
}