h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
	background-image: url("https://lh4.googleusercontent.com/-rB4soGWs_gw/WErXOSyDz5I/AAAAAAAAAdo/bg6UF2JwOoAsaHxcyo5FSUai_Og0s_5pACLIB/w800-h600-p-k-no/");
}
body {
	background-image: url("https://lh4.googleusercontent.com/-rB4soGWs_gw/WErXOSyDz5I/AAAAAAAAAdo/bg6UF2JwOoAsaHxcyo5FSUai_Og0s_5pACLIB/w800-h600-p-k-no/");
}