<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tapas Esteban</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="noindex, nofollow" />
<meta name="googlebot" content="noindex, nofollow" />
<script type="text/javascript" src="/js/lib/dummy.js"></script>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="content">
		<div class="banner">
			<img id="logo" th:src="@{/images/Esteban_Side_Logo.png}" /> <img
				class="namepart" th:src="@{/images/Tapas.png}" /><img
				class="namepart" th:src="@{/images/Esteban.png}" />

		</div>
		<div class="navigation">
			<div>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/aboutus">About</a></li>
					<li><a href="/menu">Menu</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="contact">
				<h1>Address</h1>
				<p>
					8 Cleveland St<br/>Chorley<br/>PR7 1BH
				</p>
				<h1>Phone</h1>
					<p>
						01257 261259
					</p>
					<h1>Opening hours</h1>
					<p>
						Tuesday/t10am–4pm<br/>
Wednesday/t10am–4pm<br/>
Thursday/t10am–4pm<br/>
Friday/t10am–10pm<br/>
Saturday/t10am–10pm<br/>
Sunday/tClosed<br/>
Monday/tClosed<br/>
					</p>
			</div>
			<div class="map">
				<script src="https://maps.googleapis.com/maps/api/js"></script>
				<script type='text/javascript'>
					//<![CDATA[

					function initialize() {

						var mapOptions = {
							zoom : 19,
							center : new google.maps.LatLng(53.653435,-2.6313047),
							mapTypeId : google.maps.MapTypeId.ROADMAP
						}
						var mapCanvas = document.createElement("div");
						mapCanvas.id = "canvas";
						document.getElementsByClassName("map")[0].appendChild(mapCanvas);
						//document.body.appendChild(mapCanvas);
						var map = new google.maps.Map(mapCanvas, mapOptions);
					}

					google.maps.event
							.addDomListener(window, 'load', initialize);
					//]]>
				</script>

				<script type='text/javascript'>
					// tell the embed parent frame the height of the content
					if (window.parent == window.parent.parent) {
						window.parent.parent.postMessage([
								"resultsFrame",
								{
									height : document.body
											.getBoundingClientRect().height,
									slug : "vQKkq"
								} ], "*")
					}
				</script>
				<script type="text/javascript"
					src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			</div>

		</div>
	</div>
	<!-- /.container -->



</body>
</html>