<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tapas Esteban</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="content">
		<div class="banner">
			<img id="logo" th:src="@{/images/Esteban_Side_Logo.png}" />
				<img class="namepart" th:src="@{/images/Tapas.png}" /><img
					class="namepart" th:src="@{/images/Esteban.png}" />	
		</div>
		<div class="navigation">
			<div>
				<a href="#">Tapas Esteban</a>
			</div>
			<div>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/aboutus">About</a></li>
					<li><a href="/menu">Menu</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
		<div class="main">


			<div class="menuBox">

				<div class="menuItemActive">
					<h1 id="name"></h1>
					<h2 id="description"></h2>
				</div>
				<div class="restaurantMenu">
					<ul >
						<li th:each="category:${categories}">
							<h3 th:text="${category.name}"></h3>
							<ul>
								<li th:each="menuItem:${category.menuItems}" th:text="${menuItem.name}"/>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>