<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tapas Esteban</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="content">
		<div class="banner">
			<img id="logo" th:src="@{/images/Esteban_Side_Logo.png}" />
				<img class="namepart" th:src="@{/images/Tapas.png}" /><img
					class="namepart" th:src="@{/images/Esteban.png}" />
			
		</div>
		<div class="navigation">
			<div>
				<a href="#">Tapas Esteban</a>
			</div>
			<div>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/aboutus">About</a></li>
					<li><a href="/menu">Menu</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
			<div class="socialmedia">
				<a target="_blank" title="find us on facebook" href="https://www.facebook.com/TapasEsteban">
					<img alt="find us on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png" />
				</a>
				<a target="_blank" title="follow our instagram" href="https://www.instagram.com/tapasesteban">
					<img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png" />
				</a>
				<a target="_blank" title="follow us on twitter" href="https://www.twitter.com/TapasEsteban16">
					<img alt="follow me on twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter40x40.png" />
				</a>
				<a target="_blank" title="review us on tripadvisor" href="https://www.tripadvisor.co.uk/Restaurant_Review-g503933-d11766489-Reviews-Tapas_Esteban-Chorley_Lancashire_England.html">
					<img alt="follow me on twitter" src="http://www.museumofbrands.com/_assets/images/reviews/trip-advisor.png" />
				</a>
			</div>
		</div>
		<div class="main">


			

				<div class="textbox">
					<h1>Tapas in the heart of Chorley</h1>
					<p>Quirky little tapas bar in the heart of Chorley town
						center. Serving global cuisine. Catering for all, Meat, Seafood,
						Vegan, Vegetarian, Gluten free, Dairy free and more. Unlicensed,
						so why not bring your own for just a small corkage charge of £3.50
						per person. We'll supply the glasses, wine coolers, ice, lemon and
						lime where needed. Using local suppliers we serve hot and cold
						drinks, pizzas, sandwiches, desserts, confectioneries and of
						course tapas, all made in house. There is something for everyone!</p>
				</div>
				
							<img
								src="https://static.wixstatic.com/media/c5f8d0_7792f3a7eadd4a13a0dd6b8732a13e17~mv2_d_5312_2988_s_4_2.jpg"
								width="360" height="270" />
						

						
							<img
								src="https://static.wixstatic.com/media/c5f8d0_16cc51a7327d46a19f5ec72cb82389dd~mv2_d_5312_2988_s_4_2.jpg"
								width="360" height="270" />
						

						
							<img
								src="https://static.wixstatic.com/media/c5f8d0_6aa7c131bbfd4d2696dd53bc07854f7d~mv2_d_5312_2988_s_4_2.jpg"
								width="360" height="270" />
						
					

					

		
		</div>
	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>